* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Macondo', cursive;
}
.container h1{
    color: antiquewhite;
}
.container h1:hover{
    color: azure;
}
body{
    display: flex;
    justify-self: center;
    min-height: 100vh;
    background-image: url('Images/WhatsApp Image 2022-05-08 at 12.26.59 PM.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}
body::before{
    content: '';
    position: absolute;
    top: 500;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00,#f0f);
    clip-path: circle(50% at right 10%);
}
body::after{
    content: '';
    position: absolute;
    top: 500;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3,#e91e63);
    clip-path: circle(20% at 10% 30%);
}

.container{
    top: 550px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}
.container .card{
    position: relative;
    width: 380px;
    height: 540px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
}
.container .card .content{
    padding: 0;
    text-align: center;
    transform: translateX(-100px);
    opacity: 0;
    transition: 0.5s;
}
.container .card:hover .content{
    transform: translateX(0px);
    opacity: 1;
}

.container .card1{
    position: relative;
    width: 200px;
    height: 100px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
}
.container .card1 .content{
    padding: 0;
    text-align: center;
    transform: translateX(-100px);
    opacity: 0;
    transition: 0.5s;
}
.container .card1:hover .content{
    transform: translateX(0px);
    opacity: 1;
}

.container .card2{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
}
.container .card2 .content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}
.container .card2:hover{
    background-color: rgb(193, 226, 83);
}
.container .card2:hover .content{
    transform: translateY(0px);
    opacity: 1;
}
.container .card2 .content h2{
    position: absolute;
    top: -120px;
    right: 30px;
    font-size: 7em;
}
.container .card2 .content p{
    font-size: 1em;
    color: #2196f3;
    font-weight: 300;
    
}
.container .card2 .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}


.container .card3{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
}
.container .card3 .content{
    padding: 20px;
    text-align: center;
    transform: translateX(100px);
    opacity: 0;
    transition: 0.5s;
}
.container .card3:hover{
    background-color: rgb(18, 135, 218);
}
.container .card3:hover .content{
    transform: translateX(0px);
    opacity: 1;
}
.container .card3 .content h2{
    position: absolute;
    top: -120px;
    right: 30px;
    font-size: 7em;
}
.container .card3 .content p{
    font-size: 1em;
    color: #0c3454;
    font-weight: 300;
    
}
.container .card3 .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

canvas{
    position: absolute;
    top: 140px;
    left: 0;

}